div(:class="[ `step${step}`, { isVideoLoading } ]")
	.videoLoading(
	:class="{ 'hidden': !isVideoLoading }"
	) Загрузка
	.logo(
	@click='logoClick'
	:title='logoTitle'
	)
		include ../../assets/kot-brodskogo-logo.svg
	.unlock: unlock(
	ref='unlock'
	@x='unlockMove'
	@unlocked='nextScene'
	:hidden='step > 2'
	)
	p.text.text2(
	ref='text2'
	v-if='text.parts && step === 2'
	)
		template(v-for='letter in text.visible')
			span(v-html='letter')
		template(v-for='letter in text.hidden')
			span.invisible(v-html='letter')
	video.video.video1(
	muted playsinline preload='auto'
	ref='video1'
	)
		source(:src='step1video.url' :type='step1video.type')
	video.video.video2(
	muted playsinline preload='auto'
	ref='video2'
	)
		source(:src='step2video.url' :type='step2video.type')
